@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


*:root {
    --color-principal-1: #284148;
    --color-principal-2: #2F473F;
    --color-principal-3: #517E78;

    --color-secundario-1: #D88260;
    --color-secundario-2: #E7B29D;
    --color-secundario-3: #D7967C;
    --color-secundario-4: #F2DCD4;

    --color-price: #2C2B2B;
    --color-placeholder: #929090;

    --color-background-bebidas: #F2DCD4;

    --font-w500: 500;
    --font-w400: 400;

    --font-s46: 46px;
    --font-s32: 32px;
    --font-s24: 24px;
    --font-s16: 16px;

    --height-nav: 77px;
    --padding-top: 50px;
    --padding-bottom: 40px;

    --padding-top-contenedor-productos: 50px;

    --font-family: 'Roboto', sans-serif;
}

html {
    box-sizing: border-box;
    font-family: var(--font-family);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

.togo__link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    overflow: hidden;
}

.title {
    font-weight: var(--font-w500);
    font-size: var(--font-s46);
    color: var(--color-principal-1);
    text-align: center;
}

/* Sección del header */

.header {
    min-height: 100vh;
    --padding-top: 0;
    --padding-bottom: 0;
}

.header__nav {
    height: var(--height-nav);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-weight: var(--font-w500);
    font-size: var(--font-s24);
    color: var(--color-principal-1);
}

.header__links {
    display: flex;
    gap: 24px;
}

.header__link {
    font-weight: var(--font-w400);
    font-size: var(--font-s16);
    color: var(--color-principal-1);
    text-decoration-line: none;
}

.header__main {
    height: calc(100vh - var(--height-nav));
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.header__main::after {
    content: "";
    background-image: url(../assets/hero-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.header__name {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    background-color: var(--color-secundario-1);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 365px;
    height: 80px;
    place-self: center;
}

.header__shop {
    font-weight: var(--font-w500);
    font-size: var(--font-s46);
    color: white;
}

/* Sección de las bebidas */

.bebidas {
    background-color: var(--color-background-bebidas);
}

.bebidas__container {
    overflow: visible;
}

.bebidas__tipos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    padding-top: var(--padding-top-contenedor-productos);
}

.bebidas__img {
    display: block;
    width: 100%;
    height: 205px;
    object-fit: cover;
    border-radius: 6px;
    transform: scale(1);
    transition: all 200ms ease-in 0s;
}

.bebidas__card:hover > .bebidas__img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transform: scale(1.03);
}

.bebidas__info {
    margin-top: 25px;
}

.bebida__title {
    font-weight: var(--font-w500);
    font-size: var(--font-s16);
    color: var(--color-principal-3);
}

.bebidas__precio {
    margin-top: 16px;
    font-weight: var(--font-w500);
    font-size: var(--font-s16);
    color: var(--color-price);
}

/* Sección de desayunos */

.desayunos__container {
    padding-top: var(--padding-top-contenedor-productos);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-items: center;
}

.desayunos__card {
    width: 270px;
}

.desayunos__img {
    display: block;
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 6px;
}

.desayunos__info {
    margin-top: 15px;
}

.desayunos__food {
    font-weight: var(--font-w500);
    font-size: var(--font-s16);
    color: var(--color-principal-3);
}

.desayunos__price {
    font-weight: var(--font-w500);
    font-size: var(--font-s16);
    color: var(--color-price);
    margin-top: 1rem;
}

/* Sección de los platillos */

.platillos {
    background-color: #FEFDF3;
}

.platillos__variedades {
    padding-top: var(--padding-top-contenedor-productos);
}

.platillos__card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
}

.platillos__description {
    width: 85%;
}

.platillos__figure {
    width: 85%;
    max-width: 470px;
}

.platillos__img {
    display: block;
    width: 100%;
    height: 285px;
    object-fit: cover;
    border-radius: 6px;
}

.platillos__title {
    font-weight: var(--font-w400);
    font-size: var(--font-s32);
    color: var(--color-principal-3);
    margin-bottom: 24px;
}

.platillos__text {
    font-weight: var(--font-w500);
    font-size: var(--font-s16);
    color: var(--color-principal-1);
}

.platillos__btn {
    margin-top: 24px;
    width: 200px;
    height: 44px;
    background-color: var(--color-secundario-1);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: var(--font-w500);
    font-size: var(--font-s16);
}

.platillos__variedades {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.platillos__card:nth-of-type(2) > .platillos__figure {
    order: -1;
}

/* Sección de granos de café */

.granos__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-items: center;
    padding-top: var(--padding-top-contenedor-productos);
}

.granos__figure {
    width: 270px;
}

.granos__img {
    display: block;
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 6px;
}

.granos__tipo {
    margin-top: 1rem;
    font-weight: var(--font-w500);
    font-size: var(--font-s16);
    color: var(--color-principal-3);
}

/* Sección de Contacto */

.contacto {
    background-color: var(--color-background-bebidas);
}

.container__input {
    margin-bottom: 15px;
}

.contacto__form {
    width: 470px;
}

.contacto__nombre {
    width: 100%;
    height: 44px;
    padding: 13px 16px;
    outline: none;
    border: none;
    border-radius: 6px;
    font-family: var(--font-family);
}

.contacto__nombre::placeholder,
.contacto__mensaje::placeholder {
    font-family: var(--font-family);
    font-weight: var(--font-w400);
    font-size: var(--font-s16);
    color: var(--color-placeholder);
}

.contacto__mensaje {
    width: 100%;
    min-height: 170px;
    resize: none;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 14px 19px;
    font-family: var(--font-family);
}

.contacto__options {
    padding-top: var(--padding-top-contenedor-productos);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
    justify-items: center;
}

.contacto__btn {
    width: 200px;
    height: 45px;
    background-color: var(--color-secundario-1);
    color: white;
    border-radius: 6px;
    margin-top: 21px;
    border: none;
    cursor: pointer;
    font-weight: var(--font-w500);
    font-size: var(--font-s16);
}

.contacto__dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dialogElement {
    border-radius: 10px;
    width: 30%;
    height: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    border: none;
}

#dialogElement > form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#dialogElement > form > hgroup {
    flex-grow: 1;
}

#dialogElement::backdrop {
    animation: fade 1s ease forwards;
}

.dialog__title {
    font-weight: var(--font-w500);
    font-size: var(--font-s24);
    color: var(--color-principal-1);
    text-align: center;
}

.dialog__paragraph {
    margin-top: 2rem;
    font-weight: var(--font-w400);
    font-size: var(--font-s16);
    color: var(--color-principal-1);
    text-align: center;
}

.dialog__btn {
    height: 45px;
    background-color: var(--color-secundario-1);
    color: white;
    border-radius: 6px;
    margin-top: 21px;
    border: none;
    cursor: pointer;
    font-weight: var(--font-w500);
    font-size: var(--font-s16);
}

@keyframes fade {
    
    from {
        background-color: transparent;
    }

    to {
        background-color: rgba(40, 65, 72, 0.7);
    }

}

/* Sección del footer */

.footer {
    background-color: var(--color-principal-1);
    color: white;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.footer__texts {
    display: flex;
    flex-direction: column;
}

.footer__link {
    color: white;
    text-decoration-line: none;
    font-weight: var(--font-w400);
    font-size: var(--font-s16);
}

.footer__email {
    text-align: right;
    align-self: center;
}


/* Sección de Media Queries */

@media screen and (max-width: 889px) {

    .header__links {
        gap: 10px;
        align-items: center;
    }

    .granos__container {
        gap: 30px;
    }

    .platillos__card {
        gap: 20px;
    }

    .platillos__card:first-of-type > .platillos__figure,
    .platillos__card:last-of-type > .platillos__figure {
        order: -1;
    }

    .contacto__options {
        gap: 40px;
    }

    .contacto__form {
        order: 1;
    }

    .footer__container {
        gap: 30px;
        padding-bottom: 80px;
    }

    .footer__texts,
    .footer__email {
        text-align: center;
    }
    
}